<h1>{{ title }}</h1>

{# TODO: add an image of the record #}

<div>
    Our schweet track list: TODO

    Tracks:
    <ul>
        {% for track in tracks %}
            <li>
                {{ track.song }} --- {{ track.artist }}
            </li>
        {% endfor %}
    </ul>

</div>
